.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.home-image {
  top: 78px;
  left: var(--dl-space-space-twounits);
  width: 259px;
  height: 251px;
  position: absolute;
  object-fit: cover;
}
.home-text {
  top: 36px;
  left: var(--dl-space-space-twounits);
  position: absolute;
}
.home-text01 {
  top: 71px;
  left: 320px;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.home-text02 {
  top: 335px;
  left: 319px;
  position: absolute;
  font-style: normal;
  font-weight: 800;
}
.home-text03 {
  top: 984px;
  left: 450px;
  right: var(--dl-space-space-twounits);
  position: absolute;
  font-size: 20px;
}
.home-text04 {
  top: 696px;
  left: 66px;
  position: absolute;
  font-size: 36px;
}
.home-text05 {
  top: 423px;
  left: var(--dl-space-space-fourunits);
  position: absolute;
  font-size: 36px;
}
.home-text06 {
  top: 382px;
  left: var(--dl-space-space-twounits);
  position: absolute;
}
.home-text07 {
  top: 100px;
  left: 319px;
  right: var(--dl-space-space-halfunit);
  width: 775px;
  height: 211px;
  position: absolute;
  font-size: 20px;
}
.home-text08 {
  top: 470px;
  left: 250px;
  right: var(--dl-space-space-twounits);
  position: absolute;
  font-size: 20px;
}
.home-text09 {
  top: 932px;
  left: 251px;
  position: absolute;
  font-size: 36px;
}
.home-text10 {
  top: 744px;
  left: var(--dl-space-space-twounits);
  right: 500px;
  position: absolute;
  font-size: 20px;
}
.home-text11 {
  top: 1234px;
  left: var(--dl-space-space-twounits);
  right: 750px;
  position: absolute;
  font-size: 20px;
}
.home-text12 {
  top: 1474px;
  left: 500px;
  right: var(--dl-space-space-twounits);
  position: absolute;
  font-size: 20px;
}
.home-text13 {
  top: 1181px;
  left: 643px;
  position: absolute;
  font-size: 36px;
}
.home-image1 {
  top: 1468px;
  left: 77px;
  width: 350px;
  position: absolute;
  object-fit: cover;
}
.home-text14 {
  top: 1423px;
  left: 251px;
  position: absolute;
  font-size: 36px;
}
.home-ul {
  top: 78px;
  right: 30px;
  width: 218px;
  position: absolute;
}
.home-link {
  top: 1098px;
  left: 450px;
  position: absolute;
  font-size: 20px;
}
.home-image2 {
  top: 480px;
  left: 35px;
  width: 200px;
  position: absolute;
  object-fit: cover;
}
.home-image3 {
  top: 578px;
  right: 132px;
  width: auto;
  height: 100px;
  position: absolute;
  object-fit: cover;
}
.home-image4 {
  top: 739px;
  right: 260px;
  width: 235px;
  height: 133px;
  position: absolute;
  object-fit: cover;
}
.home-image5 {
  top: 740px;
  right: 28px;
  width: 213px;
  height: 130px;
  position: absolute;
  object-fit: cover;
}
.home-image6 {
  top: 979px;
  left: var(--dl-space-space-twounits);
  width: 396px;
  height: auto;
  position: absolute;
  object-fit: cover;
}
.home-image7 {
  top: 1152px;
  right: 35px;
  width: 300px;
  position: absolute;
  object-fit: cover;
}
.home-image8 {
  top: 1225px;
  right: 380px;
  width: 350px;
  position: absolute;
  object-fit: cover;
}
